<?php

/**
 * Feefo Reviews Reviews Template
 * 
 * @version     $Id$
 * @package     Ufhs_FeefoReviews
 * @author      Dominic Sutton <dominic.sutton@theunderfloorheatingstore.com>
 *
 */

?>

<?php $feedbacks = $this->getReviewObject(); ?>

<?php 
if(!$feedbacks)
{
    ?>
    <tr class="first last odd"><th colspan="4">This product has no reviews yet.</th></tr>
    <?php
}
else {
    ?>
    <?php foreach($feedbacks as $feedback){ ?>
    <tr>
        <th>
            <?php print((string)$feedback->DATE); ?>
        </th>
        <td>
            <?php 
            if((string)$feedback->SERVICERATING):
                print( 'Service: <br/>');
            foreach(str_split((string)$feedback->SERVICERATING) as $img){
                if($img === '+' || $img === '-') print('<img src="'.$this->getSkinUrl('images/flint_feefo'.$img.'.gif').'" />');
            }
            print('<br/>');
            endif;
            if((string)$feedback->PRODUCTRATING):
                print( 'Product: <br/>');
            foreach(str_split((string)$feedback->PRODUCTRATING) as $img){
                if($img === '+' || $img === '-') print('<img src="'.$this->getSkinUrl('images/flint_feefo'.$img.'.gif').'" />'); 
            }
            print('<br/>');
            endif;
            ?>
        </td>
        <td>
            <?php
            $shorCusCom = (string)$feedback->SHORTCUSTOMERCOMMENT;
            $CusCom = (string)$feedback->CUSTOMERCOMMENT;

            ?>
            <font id="shortCus<?php echo (string)$feedback->COUNT;?>"><?php print($shorCusCom); ?></font>
            <?php if($shorCusCom != $CusCom){ ?>
            <a href="<?php echo $this->__('Read More.') ?>" onclick="$('shortCus<?php echo (string)$feedback->COUNT;?>').style.display = 'none';this.style.display = 'none';$('longCus<?php echo (string)$feedback->COUNT;?>').style.display = '';return false;"><?php echo $this->__('Read More.') ?></a>
            <font id="longCus<?php echo (string)$feedback->COUNT;?>" style="display: none"><?php print($CusCom); ?></font>
            <?php } ?>
        </td>
        <td>
            <?php
            $shorVenCom = (string)$feedback->SHORTVENDORCOMMENT;
            $VenCom = (string)$feedback->VENDORCOMMENT;

            ?>
            <font id="short<?php echo (string)$feedback->COUNT;?>"><?php print($shorVenCom); ?></font>
            <?php if($shorVenCom != $VenCom){ ?>
            <a href="<?php echo $this->__('Read More.') ?>" onclick="$('short<?php echo (string)$feedback->COUNT;?>').style.display = 'none';this.style.display = 'none';$('long<?php echo (string)$feedback->COUNT;?>').style.display = '';return false;"><?php echo $this->__('Read More.') ?></a>
            <font id="long<?php echo (string)$feedback->COUNT;?>" style="display: none"><?php print($VenCom); ?></font>
            <?php } ?>
        </td>
    </tr>
    <?php 
    }
} ?>
